.git
.gitignore
.dockerignore

node_modules
.pnpm-store
dist
coverage
out
*.tgz
*.tsbuildinfo

.env
.env.*
!.env-sample
!.env.docker.example

logs
*.log
report.*.json

.cache
.eslintcache
.idea
.vscode
.DS_Store
Thumbs.db

uploads
dev-notes
API_DOC

generated/prisma
src/generated/prisma
